<%inherit file="dashboard.phtml"/>
<%block name="content">
    <div class="title">
        Welcome to Paramecio Admin
    </div>
    <div class="cont">
        From here you can admin your site
    </div>
</%block>
