<%def name="check_required(required)">
    % if required: 
        ${'*'} \
    % endif
</%def>
<%def name="help(help, name)">
    % if help: 
        <i class="fa fa-question-circle tooltip"  data-tooltip-content="#tooltip_${name}_content" style="cursor:pointer;"></i>
        <!--<div class="tooltip_templates" style="display:none;"><div id="tooltip_${name}_content">${help|n}</div></div>-->
    % endif
</%def>
<%def name="help_tooltip(help, name)">
    % if help: 
    <div class="tooltip_templates" style="display:none;"><div id="tooltip_${name}_content">${help|n}</div></div>
    % endif
</%def>
<div class="form">
    % for form in forms.values():
        % if form.type!='hidden':
            <p><label>${form.label} ${check_required(form.required)} ${help(form.help, form.name)}</label>${form.form()|n} <span class="error" id="${form.name}_error">${form.txt_error}</span></p>
            ${help_tooltip(form.help, form.name)}
        % else:
            ${form.form()|n}
        % endif
    % endfor
    ${csrf_token()|n}
</div>
