<p>
<textarea  name="${form.name}" id="${form.name_field_id}">
    ${form.default_value}
</textarea>
</p>
<script>
tinymce.init({
    selector: '#${form.name_field_id}',
    height: 500,
    menubar: true,
    plugins: 'code print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern',
    toolbar: 'formatselect | fontsizeselect bold italic underline strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
    fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt 48pt 64pt 100pt 120pt",    
    content_css: '//www.tinymce.com/css/codepen.min.css',
    setup: function (editor) {
        editor.on('change', function () {
            tinymce.triggerSave();
        });
    }
});
</script>
${add_js('tinymce/tinymce.min.js', 'admin')}
