/* General styles */

body
{

 	margin:0px; 
	background:url('../images/background.png') repeat-y center #e0e5e6;

}

iframe
{

	width:100%;
	border:solid #5b5b5b;
	border-width:1px;
	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;
}

a
{

	font-size:12px;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #3434cc;
	font-weight:bold;
}

a:hover
{
	
	font-size:12px;
	font-family:verdana, verdana;
	text-decoration:underline;
	color: #4545dd;
	font-weight:bold;

}

strong
{

	font-weight: bold;
	
}

img {

/*display:block;*/

}

/** center_body is the principal class **/

#center_body {

	position:relative;
	height: auto !important;
	width:958px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	height: auto !important;
	min-height:600px;
	

}

/** input **/

#center_body input {

	border: solid #bcbcbc;
	border-width:1px;
	height:20px;
	border-radius:5px;
	background: #eeeeee;

}

#center_body input:hover {
	
	background: #fafafa;
	
}

#center_body input[type="submit"]
{
	
	font-family: verdana,arial,sans;
	font-size:12px;
	height:25px;
	border-radius:25px;
	background: #eee;
	
}

#center_body input:hover[type="submit"]
{
	
	background: #fff;
	
}

#center_body textarea {

	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;

}

#center_body select {

	border: solid #bcbcbc;
	border-width:1px;
	border-radius:5px;

}

/* header elements classes */

#header
{

	width:952px;
	border:solid #000000;
	border-width:0px;
	border-right-width:0px;
	padding-left:5px;
	color: #676767;
	text-align:middle;
	height:120px;
	margin-bottom:4px;
	line-height: 35px;

}

#header a
{
	
	color: #555555;
	
}

#logo_img
{
	
	position:absolute;
	top:20px;
	left:0px;
	
}

#your_account
{
	
	position:absolute;
	top:25px;
	right:5px;
	background-image: url('../images/my-account.png');
	background-repeat: no-repeat;
	background-position:left;
	padding-left:25px;
	
}

#cart
{
	
	position:absolute;
	top:50px;
	right:5px;
	background-image: url('../images/cart.gif');
	background-repeat: no-repeat;
	background-position:left;
	padding-left:25px;
	font-size:12px;
	
}

#change_currency
{
	
	position:absolute;
	top:70px;
	right:5px;
	background-image: url('../images/currency.gif');
	background-repeat: no-repeat;
	background-position:left;
	padding-left:25px;
	font-size:12px;
	
}

/* Languages styles in header. */

#languages
{

	position:absolute;
	margin: 0px 0px 0px 0px;
	top:10px;
	right:5px;
	/*right:50px;*/
	
}

a.no_choose_flag
{
	
	filter: Alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
	
}

a.choose_flag
{
	
	filter: Alpha(opacity=100);
	-moz-opacity: 100;
	opacity: 100;
	
}

a:hover.no_choose_flag
{
	
	filter: Alpha(opacity=100);
	-moz-opacity: 100;
	opacity: 100;
	
}

#menu_barr
{
	
	height:40px;
	background-image:url('../images/background_barr.png');
	background-repeat: repeat-x;
	border:solid #cbcbcb;
	border-width:1px;
	border-radius:8px;
	text-align:center;
	font-size:16px;
	line-height:40px;
	margin-bottom:18px;
	
}

#menu_barr a
{
	
	font-size:16px;
	
}

/* Menus in left and right sides... */

#menu
{

	
	width:175px;
	/*border:solid #ffffff;
	border-width:5px;*/
	margin:0px 0px 5px 0px;
	padding:0px;

}

#menu a
{

	font-size:14px;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #3434cc;
	font-weight:bold;
	padding:5px;
}

#menu a:hover
{
	
	font-size:14px;
	font-family:verdana, verdana;
	text-decoration:underline;
	color: #4545dd;
	padding:5px;

}

.title_block
{
	
	font-size:20px;
	font-weight:normal;
	font-family:verdana;
	text-decoration:none;
	color: #fff;
	background-image:url('../images/block_bg.png');
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#4e8df6;
	border:solid #256753;
	border-width:1px;
	padding:8px 4px 0px 8px;
	margin:0px;
	position:relative;
	height:40px;
	border-radius: 8px 8px 0px 0px;

}

.url_block
{
	
	font-size:12px;
	font-family:verdana;
	text-decoration:none;
	color: #676767;
	border:solid #cbcbcb;
	border-width:0px 1px 0px 1px;
	padding:8px 4px 8px 4px;
	margin:0px;
	position:relative;
	
	
}

.static_block
{
	
	font-size:12px;
	font-family:verdana;
	text-decoration:none;
	color: #676767;
	/*background-image:url('../images/block_bg_link.png');*/
	border:solid #cbcbcb;
	border-width:0px 1px 0px 1px;
	padding:4px;
	margin:0px;
	position:relative;
	
	
}

.block_end
{
	
	background-image:url('../images/block_end.png');
	height:15px;
	border:solid #cbcbcb;
	border-width:0px 1px 1px 1px;
	border-radius:0px 0px 5px 5px;
	margin-bottom:5px;
	
}

.link_menu a
{

	color:#ff0000;

}

.menu_left
{
	
	float:left;
	
}

.menu_right
{
	
	float:right;
	
}

/* styles in content */

#content
{

	display:block;
	padding:0px 5px 0px 5px;
	font-size:12px;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #676767;
	margin-top:0px;
	overflow:auto;
	position:relative;
	font-weight:lighter;
	
	

}

.content 
{

	overflow:auto;
	position:relative;

}

.content_all
{
	
	width:598px;
	float:left;
	
	
}

.content_right
{
	
	width:772px;
	float:left;
	
	
}

.title
{

	font-size:18px;
	font-weight:bold;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #232323;
	border:solid #cbcbcb;
	border-width:1px;
	padding:10px;
	margin-bottom:5px;
	background-color:#1ca34f;
	background-image:url('../images/background_barr.png');
	background-repeat:repeat-x;
	border-radius:8px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

}

.cont {

	border:solid #dbdbdb;
	border-width:1px 1px 1px 1px;
	padding:10px 20px 10px 20px;
	margin-bottom:5px;
	position:relative;
	/*text-align:justify;*/
	overflow:hidden;
	height:100%;

}

#inform {

	margin:auto;

}

#options {

	position:absolute;
	top:50px;
	left:600px;
}

/*Styles for common templates...*/

.form label {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
	width: 300px;
	padding-right: 20px;

}

.form textarea {

	width:100%;
	height:150px;
	clear:both;

}

.form p {
	clear: left;
}

.panel {


}

.panel p {

text-align:center;

}

.panel img {

display:block;
margin-left:auto;
margin-right:auto;

}

/* Table list config */

.table_list {

	border:solid #cbcbcb;
	border-width:1px;
	width:100%;
	clear:left;
	border-radius:8px;

}

.head_list
{

	/*width:100%;*/
	margin:4px;
	display:block;
	position:relative;
	float:left;
	/*border:solid #ffffff;
	border-width:1px;*/
	width:60%;
}

.head_list_right
{

	/*width:100%;*/
	margin:4px;
	display:block;
	position:relative;
	/*clear:left;*/
	float:right;
	/*border:solid #ffffff;
	border-width:1px;*/
	width:35%;
	bottom:0px;
	text-align:right;
	

}

.title_list
{

	
	width:100%;
	position:relative;
	/*border:solid #ffffff;
	border-width:1px 1px 1px 1px;*/

}

.title_list td
{
	
	font-size:14px;
	font-weight:bold;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #fff;
	border:solid #cbcbcb;
	border-width:1px 1px 1px 1px;
	padding:5px 5px 5px 5px;
	margin:4px;
	margin-bottom:5px;
	background-color:#d75a09;
	background-repeat:repeat-x;
	text-align:center;
	border-radius:8px;

}

.row_list
{

	
	width:100%;
	position:relative;
	/*border:solid #ffffff;
	border-width:1px 1px 1px 1px;*/

}

.row_list td
{
	
	font-size:12px;
	font-weight:bold;
	font-family:verdana, verdana;
	text-decoration:none;
	color: #676767;
	border:solid #ffffff;
	border-width:1px 1px 1px 1px;
	padding:5px 5px 5px 5px;
	margin:4px;
	margin-bottom:5px;
	text-align:center;
	/*background-color:#d75a09;
	background-image:url('../images/fondo_titulo.png');
	background-repeat:repeat-x;*/
	/*float:left;*/

}

/* styles in private messages */

.new_message
{

display:block;
width:60px;
height:30px;
float:left;
padding:0px;
/*border:solid #ffffff;
border-width:1px;*/
background-image:url('../images/new_message.png');
background-repeat:no-repeat;
background-position:center;

}

.message
{

display:block;
width:60px;
height:30px;
float:left;
padding:0px;
/*border:solid #ffffff;
border-width:1px;*/
background-image:url('../images/message.png');
background-repeat:no-repeat;
background-position:center;

}

.error
{
	
	color: #ff0000;
	font-weight:bold;
	
}

#footer
{
	
	height:100px;
	border: solid #bcbcbc;
	border-width:1px;
	border-radius:8px;
	margin-bottom:15px;
	text-align:center;
	line-height:100px;
	position:relative;
	font-size:12px;
	font-family:verdana;
	color:#555555;
	background-image:url('../images/background_foot.png');
	background-repeat:repeat-x;
	background-position:bottom;
	background-color: #fff;
	
	
}

/*Products style*/

.product 
{

	display:block;
	position:relative;
	height:100%;
	margin-bottom:10px;

}

.title_product 
{

	border:solid #ffffff;
	border-width:1px 0px 0px 0px;
	font-size:15px;
	font-weight:bold;
	display:block;
	/*clear:right;*/
	margin-bottom:4px;
	/*border:solid #ffffff;
	border-width:1px;*/

}

.image_list_prod
{

	border:solid #ffffff;
	border-width:1px;
	float:left;
	position:relative;
	padding:0px;


}

.description_product
{

	float:left;
	padding:20px;
	

}

.img_desc
{

	border:solid #ffffff;
	border-width:1px;
	margin-left:30px;
	margin-right:30px;

}

.desc_product
{

	border:solid #ffffff;
	border-width:0px 0px 1px 0px;
	overflow:auto;
	height:100%;
	padding-bottom:5px;
	

}

a.ship {
    
	display: block;
	border: solid #cbcbcb;
	border-width:1px;
	border-radius:5px;
	background-image:url('../images/background_barr.png');
	background-position:bottom center;
	background-repeat:repeat-x;
	text-align:center;
	min-width:100px;
	min-height: 28px;
	float:left;
	line-height:28px;
	padding:5px;
	color: #868686;
	
}

a.ship:hover {

	/*background-position: -87px 0px;*/

}

a.see {
    
	display: block;
	min-width: 126px;
	min-height: 28px;
	border: solid #cbcbcb;
	border-width:1px;
	border-radius:5px;
	background-image:url('../images/background_barr.png');
	background-position:bottom center;
	background-repeat:repeat-x;
	line-height:28px;
	text-align:center;
	float:left;
	margin-right:2px;
	padding:5px;
	color: #868686;

}

.see_products {
    
	display: block;
	min-width: 126px;
	min-height: 28px;
	border: solid #cbcbcb;
	border-width:1px;
	border-radius:5px;
	background-image:url('../images/background_barr.png');
	background-position:bottom center;
	background-repeat:repeat-x;
	line-height:28px;
	text-align:center;
	/*border:solid #ffffff;
	border-width:1px 1px 1px 1px;*/
	float:left;
	margin-right:2px;
	padding:5px;
	color: #868686;

}
#show_process_buying
{
	
	position:absolute;
	
}

/*view big image css*/

#show_big_images
{
	
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	z-index:150;
	background-color: #000;
	
}

#center_frame_image
{
	
	position:absolute;
	width:100%;
	height:100%;
	z-index:151;
	
}

#frame_image
{
	display:none;
	width:300px;
	height:300px;
	border: solid #ffffff;
	border-width:4px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	position:relative;
	z-index:151;
	background-image:url('../images/loading_image_black.gif');
	background-position:center;
	background-repeat: no-repeat;
	background-color: #000;
	overflow:visible;
	
}

#icon_close_frame_image
{
	
	position:absolute;
	background-image:url('../images/close_black.png');
	background-position:center;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	display:block;
	z-index:152;
	color:#fff;
	right:0px;
	
}

.units
{
	
	width:40px;
	text-align:center;
	
}
