${question_text}: <input type="button" value="Yes" id="accept"/>
<script language="javascript">
    
    $('#accept').click( function () {
       
       location.href='${url_redirect|n}'
        
    });
    
</script>
<%block name="form">
</%block>
