<p><a href="${admin.url_redirect}">${admin.text_home|n}</a> &gt;&gt; \
% if id!='0': 
    ${title_edit} \
%else:
    ${title_edit} \
%endif 
<%

    enctype_txt=''

    if enctype:
        enctype_txt='enctype="multipart/form-data"'
 
%>
</p>
<form method="post" action="${url_action}" ${enctype_txt|n}>
    <h2>${title_edit}</h2>
    <span class="error">${model.query_error}</span>
    ${ form|n }
    <p><input type="submit" value="${lang('common', 'send', 'Send') }"></p>
</form>
